<footer class="footer">
    <div>
        <ul class="menu">
            <li><a href="#" style="color: #fff; margin-right: 10px; margin-left: 10px;">หน้าหลัก</a></li> | 
            <li><a href="#" style="color: #fff; margin-right: 10px; margin-left: 10px;">ติดต่อเรา</a></li> | 
            <li><a href="#" style="color: #fff; margin-right: 10px; margin-left: 10px;">คำถามที่พบบ่อย</a></li>
        </ul>
        <br>
        <div style="display: flex; margin-left: 40px;">
            <a href="http://localhost:4200/">
                <img #myImage [src]="imageSrc" class="button-icon-shadow" width="auto" height="40px" style="margin-right: 10px;" 
                (mousedown)="toggleImage()" (mouseup)="toggleImage()">
            </a>
            <a href="http://localhost:4200/">
                <img #myImage [src]="imageSrc2" class="button-icon-shadow" width="auto" height="40px" style="margin-right: 10px;"
                (mousedown)="toggleImage2()" (mouseup)="toggleImage2()">
            </a>
            <a href="http://localhost:4200/">
                <img #myImage [src]="imageSrc3" class="button-icon-shadow" width="auto" height="40px" style="margin-right: 10px;"
                (mousedown)="toggleImage3()" (mouseup)="toggleImage3()">
            </a>
            <a href="http://localhost:4200/">
                <img #myImage [src]="imageSrc4" class="button-icon-shadow"width="auto" height="40px" style="margin-right: 10px;"
                (mousedown)="toggleImage4()" (mouseup)="toggleImage4()">
            </a>
        </div>
    </div>
</footer>
