<div class="background">
    <div class="lower-component">
        <a href="http://localhost:4200/" (mouseover)="toggleHover1()" (mouseout)="toggleHover1()">
            <img [src]="isHovered1 ? './assets/big_teacher2.png' : './assets/big_teacher.png'" width="auto" height="300px">
        </a>
        <a href="http://localhost:4200/" (mouseover)="toggleHover2()" (mouseout)="toggleHover2()">
            <img [src]="isHovered2 ? './assets/big_question2.png' : './assets/big_question.png'" width="auto" height="300px">
        </a>
        <a href="http://localhost:4200/" (mouseover)="toggleHover3()" (mouseout)="toggleHover3()">
            <img [src]="isHovered3 ? './assets/big_group2.png' : './assets/big_group.png'" width="auto" height="300px">
        </a>
        <a href="http://localhost:4200/" (mouseover)="toggleHover4()" (mouseout)="toggleHover4()">
            <img [src]="isHovered4 ? './assets/big_social2.png' : './assets/big_social.png'" width="auto" height="300px">
        </a>  
    </div>
       
</div>
