<form>
    <input type="search" class="search" name="search_query" placeholder="ค้นหาง่ายๆใน MildTutor..." required>
    <input type="submit" class="search-btn" value="ค้นหา" name="search_query" style="position:absolute; margin-top: -390px; right: 125px" width='auto' height="130px">
</form>
<a href="http://localhost:4200/">
    <img #myImage [src]="imageSrc" class="button-image1" width="auto" height="130px" (mousedown)="toggleImage()" (mouseup)="toggleImage()">
</a>

<a href="http://localhost:4200/">
    <img #myImage [src]="imageSrc2"  class="button-image2" width='auto' height="190px" (mousedown)="toggleImage2()" (mouseup)="toggleImage2()">
</a>
<a href="http://localhost:4200/">
    <img #myImage [src]="imageSrc3"  class="button-image3" width='auto' height="190px" (mousedown)="toggleImage3()" (mouseup)="toggleImage3()">
</a>
    